:root{
    --primary-color: hsl(30, 38%, 92%);
    --secondary-color: hsl(158, 36%, 37%);
    --neutral-blue: hsl(212, 21%, 14%);
    --neutral-gray: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --font-body: 'Montserrat', sans-serif;
    --font-title: 'Fraunces', serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: var(--primary-color);
    font-family: var(--font-body);
    color: var(--neutral-gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.main{
    width: 92%;
    max-width: 400px;
    height: 92%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;
}

.main__picture img{
    width: 100%; 
    height: 100%;   
}

.aside{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__aside{
    padding: 0 2.4rem;
}

.main__title{
    font-family: var(--font-title);
    color: var(--neutral-blue);
    font-size: 3.2rem;
    line-height: 1;
}

.main__header{
    padding-top: 0;
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
}

.main__paragraph{
    line-height: 1.6;
}

.prices{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.prices__actual{
    font-family: var(--font-title);
    color: var(--secondary-color);
    font-size: 3rem;
}

.prices__original{
    margin-left: 2rem;
    text-decoration: line-through;
}

.button{
    background-color: var(--secondary-color);
    color: var(--white);
    font-family: var(--font-body);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__button{
    padding: 1.2rem 0;
    border-radius: 0.8rem;
    border: var(--secondary-color) solid 0.2rem;
}

.button img{
    padding-right: 1rem;
}

.button:active{
    background-color: hsl(158, 36%, 17%);
    border-color: hsl(158, 36%, 17%);
}